---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Masajes - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "https://placehold.co/600x400",
    name: "Masaje de Relajación",
    duration: "60 min",
    price: "$26.900",
    info: "./masaje-de-relajacion-60-min",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje de Relajación",
    duration: "90 min",
    price: "$32.900",
    info: "./masaje-de-relajacion-90-min",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Descontracturante",
    duration: "60 min",
    price: "$30.900",
    info: "./masaje-descontracturante",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Mixto",
    duration: "90 min",
    price: "$42.900",
    info: "./masaje-mixto",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Prenatal",
    duration: "60 min",
    price: "$36.900",
    info: "./masaje-prenatal",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Craneal",
    duration: "60 min",
    price: "$34.900",
    info: "./masaje-craneal",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje con Piedras Calientes",
    duration: "60 min",
    price: "$40.900",
    info: "./masaje-de-relajacion-con-piedras-calientes",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje para Bruxismo",
    duration: "50 min",
    price: "$35.900",
    info: "./masaje-para-bruxismo",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Masajes" />

      <ServiceCategories column>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </ServiceCategories>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
