---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";
import { getCollection } from "astro:content";

const options = {
  title: "Masajes - Deluxe Beauty",
  description:
    "Descubre nuestra gama de masajes diseñados para tu bienestar: desde Masaje de Relajación y Descontracturante, hasta Masaje Prenatal y con Piedras Calientes. Ofrecemos tratamientos especializados como Masaje para Bruxismo y Masaje Craneal para aliviar tensiones y mejorar tu salud general.",
};

const services = await getCollection("masajes");
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Masajes" />

      <Services>
        {
          services.map((service) => {
            const { slug, data } = service;
            const { name, img, duration, price, booking } = data;

            return (
              <ServiceCard
                img={img}
                name={name}
                duration={duration}
                price={price}
                info={slug}
                booking={booking}
              />
            );
          })
        }
      </Services>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 768px) {
    .service__list {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
</style>
