---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";

const options = {
  title: "Uñas Gel o Acrílicas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Uñas Gel Permanente",
    duration: "150 min",
    price: "$36.900",
    info: "./unas-gel-permanente",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Uñas Gel Tradicional",
    duration: "120 min",
    price: "$30.900",
    info: "./unas-gel-tradicional",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Uñas Acrílicas Permanentes",
    duration: "150 min",
    price: "$36.900",
    info: "./unas-acrilicas-permanentes",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Uñas Acrílicas Permanentes con Diseños",
    duration: "180 min",
    price: "$42.900",
    info: "./unas-acrilicas-permanentes-con-disenos",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Uñas Acrílicas Tradicional",
    duration: "120 min",
    price: "$30.900",
    info: "./unas-acrilicas-tradicional",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Mantención de Uñas Acrílicas",
    duration: "90 min",
    price: "$28.900",
    info: "./mantencion-de-unas-acrilicas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Retiro de Uñas Acrílicas",
    duration: "30 min",
    price: "$10.900",
    info: "./retiro-de-unas-acrilicas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Retiro de Uñas Acrílicas + Esmaltado Permanente",
    duration: "90 min",
    price: "$28.900",
    info: "./retiro-de-unas-acrilicas-y-esmaltado-permanente",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Retiro de Uñas Acrílicas + Esmaltado Tradicional",
    duration: "60 min",
    price: "$22.900",
    info: "./retiro-de-unas-acrilicas-y-esmaltado-tradicional",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Uñas de gel o acrílicas" />

      <Services>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>

      <Booking />
    </section>
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
