---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";

const options = {
  title: "Maquillaje y Peinados - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Maquillaje de Día",
    duration: "60 min",
    price: "$36.900",
    info: "./maquillaje-de-dia",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20maquillaje%20de%20d%C3%ADa.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Maquillaje de Noche",
    duration: "80 min",
    price: "$40.900",
    info: "./maquillaje-de-noche",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20maquillaje%20de%20noche.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Peinados",
    duration: "60 min",
    price: "$30.900",
    info: "./peinados",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20peinados.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Maquillaje + Peinado",
    duration: "120 min",
    price: "$64.900",
    info: "./maquillaje-y-peinado",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20maquillaje%20%2B%20peinado.",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Maquillaje y Peinados" />

      <Services>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 768px) {
    .service__list {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
</style>
