---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";

const options = {
  title: "Maquillaje y Peinados - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Maquillaje de Día",
    duration: "60 min",
    price: "$36.900",
    info: "./maquillaje-de-dia",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Maquillaje de Noche",
    duration: "80 min",
    price: "$40.900",
    info: "./maquillaje-de-noche",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Peinados",
    duration: "60 min",
    price: "$30.900",
    info: "./peinados",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Maquillaje y Peinados" />

      <Services>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
