---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";

const options = {
  title: "Cejas y Pestañas - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Perfilado de Cejas",
    duration: "30 min",
    price: "$14.900",
    info: "./perfilado-de-cejas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Planchado de Cejas",
    duration: "60 min",
    price: "$18.900",
    info: "./planchado-de-cejas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Laminado de Cejas",
    duration: "60 min",
    price: "$18.900",
    info: "./laminado-de-cejas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Lifting de Pestañas",
    duration: "60 min",
    price: "$20.900",
    info: "./lifting-de-pestanas",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Ondulado de Pestañas",
    duration: "60 min",
    price: "$20.900",
    info: "./ondulado-de-pestanas",
    booking: "#",
  },
];

const servicesPack = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Perfilado de Cejas + Tinte",
    duration: "45 min",
    price: "$22.900",
    info: "./perfilado-de-cejas-con-tinte",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Planchado de Cejas + Perfilado",
    duration: "90 min",
    price: "$28.900",
    info: "./planchado-de-cejas-con-perfilado",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Laminado de Cejas + Perfilado",
    duration: "90 min",
    price: "$28.900",
    info: "./laminado-de-cejas-con-perfilado",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Lifting de Pestañas + Tinte",
    duration: "80 min",
    price: "$26.900",
    info: "./lifting-de-pestanas-con-tinte",
    booking: "#",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Ondulado + Tinte",
    duration: "80 min",
    price: "$26.900",
    info: "./ondulado-con-tinte",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Cejas y Pestañas" />

      <Services>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>
    </section>

    <section class="service__list">
      <Header title="Packs para cejas y pestañas" />

      <Services>
        {
          servicesPack.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }

  .service__list:nth-child(1) {
    margin-top: 4.5rem;
  }
</style>
