---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";
import { getCollection } from "astro:content";

const options = {
  title: "Cejas y Pestañas - Deluxe Beauty",
  description:
    "Descubre nuestros servicios de cejas y pestañas: perfilado, planchado, laminado de cejas, lifting y ondulado de pestañas. Realza tu mirada con tratamientos profesionales y personalizados.",
};

const services = await getCollection("cejas-y-pestanas");
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Cejas y Pestañas" />

      <Services>
        {
          services
            .filter((service) => !service.data.name.includes("+"))
            .map((service) => {
              const { slug, data } = service;
              const { name, img, duration, price, booking } = data;

              return (
                <ServiceCard
                  img={img}
                  name={name}
                  duration={duration}
                  price={price}
                  info={slug}
                  booking={booking}
                />
              );
            })
        }
      </Services>
    </section>

    <section class="service__list">
      <Header title="Packs para cejas y pestañas" />

      <Services>
        {
          services
            .filter((service) => service.data.name.includes("+"))
            .map((service) => {
              const { slug, data } = service;
              const { name, img, duration, price, booking } = data;

              return (
                <ServiceCard
                  img={img}
                  name={name}
                  duration={duration}
                  price={price}
                  info={slug}
                  booking={booking}
                />
              );
            })
        }
      </Services>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 768px) {
    .service__list {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
</style>
