---
import { Icon } from "astro-icon/components";

const { img, name, duration, price, info, booking } = Astro.props;
---

<div class="services__wrapper">
  <img src={img} alt="" />
  <h3>{name}</h3>
  <div class="info">
    <article>
      <p><Icon name="clock" size="28" /> {duration}</p>
      <p><Icon name="money" size="28" /> {price}</p>
    </article>
    <div class="buttons">
      <a href={info} target="_self" rel="noopener noreferrer"
        ><Icon name="information" size="28" /> Ver</a
      >
      <a href={booking} target="_self" rel="noopener noreferrer"
        ><Icon name="calendar" size="28" /> Agendar</a
      >
    </div>
  </div>
</div>

<style>
  .services__wrapper {
    max-width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow:
      0px 4px 20px #ccc4,
      0px 2px 6px #ccc4;

    & img {
      border-radius: 1rem;
      aspect-ratio: 16 / 9;
    }

    & h3 {
      text-align: center;
      text-wrap: balance;
    }

    & .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

        & p {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        & a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          max-width: fit-content;
          border-radius: 0.75rem;
          padding: 0.5rem 1.25rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          background: var(--primary-color);
          color: var(--white);
          border: 2px solid var(--black);
          box-shadow: 0 0 0 0 var(--black);

          &:hover {
            transform: translateY(-4px) translateX(-2px);
            box-shadow: 2px 5px 0 0 var(--black);
          }

          &:active {
            transform: translateY(2px) translateX(1px);
            box-shadow: 0 0 0 0 var(--black);
          }
        }
      }
    }
  }
</style>
