---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";
import { getCollection } from "astro:content";

const options = {
  title: "Peluquería - Deluxe Beauty",
  description:
    "Explora nuestros servicios de peluquería para transformar tu look: desde Balayage y Babylights hasta Tintura de Cabello y Alisado de Keratina. Ofrecemos también cortes para hombres y mujeres, así como tratamientos nutritivos y estilizados para un acabado perfecto.",
};

const services = await getCollection("peluqueria");
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Peluquería" />

      <Services>
        {
          services.map((service) => {
            const { slug, data } = service;
            const { name, img, duration, price, booking } = data;

            let newPrice;

            if (price.length > 8) {
              newPrice = "S, M, L, XL";
            } else newPrice = price;

            return (
              <ServiceCard
                img={img}
                name={name}
                duration={duration}
                price={newPrice}
                info={slug}
                booking={booking}
              />
            );
          })
        }
      </Services>

      <Booking />
    </section>
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 768px) {
    .service__list {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
</style>
