---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import Header from "@components/Header.astro";
import Services from "@components/Services.astro";

const options = {
  title: "Peluquería - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Balayage",
    duration: "120 min",
    price: "$59.900 (S), $69.900 (M), $89.900 (L), $99.900 (XL)",
    info: "./balayage",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20balayage.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Babylights",
    duration: "40 min",
    price: "$59.900 (S), $69.900 (M), $89.900 (L), $99.900 (XL)",
    info: "./babylights",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20babylights.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Tintura de Cabello",
    duration: "60 min",
    price: "$38.900 (S), $45.900 (M), $50.900 (L), $60.900 (XL)",
    info: "./tintura-de-cabello",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20la%20tintura%20de%20cabello.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Baño de Color",
    duration: "60 min",
    price: "$32.900 (S), $37.900 (M), $47.900 (L), $52.900 (XL)",
    info: "./bano-de-color",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20ba%C3%B1o%20de%20calor.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Visos o Mechas con Papel",
    duration: "120 min",
    price: "$38.900 (S), $48.900 (M), $58.900 (L), $68.900 (XL)",
    info: "./visos-o-mechas-con-papel",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20visos%20o%20mechas%20con%20papel.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Retoque de Raíz",
    duration: "120 min",
    price: "$28.900",
    info: "./retoque-de-raiz",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20retoque%20de%20ra%C3%ADz.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Brushing",
    duration: "40 min",
    price: "$20.900",
    info: "./brushing",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20brushing.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Masaje Nutritivo",
    duration: "60 min",
    price: "$18.900 (S), $18.900 (M), $24.900 (L), $24.900 (XL)",
    info: "./masaje-nutritivo",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20masaje%20nutritivo.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Alisado de Keratina",
    duration: "90 min",
    price: "$48.900 (S), $58.900 (M), $78.900 (L), $88.900 (XL)",
    info: "./alisado-de-keratina",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20alisado%20de%20keratina.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Balayage + Babylights",
    duration: "160 min",
    price: "$62.900 (S), $72.900 (M), $82.900 (L), $92.900 (XL)",
    info: "./balayage-y-babylights",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20balayage%20%2B%20babylights.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Retoque de Raíz + Brushing",
    duration: "160 min",
    price: "$32.900",
    info: "./retoque-de-raiz-y-brushing",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20retoque%20de%20ra%C3%ADz%20%2B%20brushing.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Corte de Cabello Mujer",
    duration: "60 min",
    price: "$18.900",
    info: "./corte-de-cabello-mujer",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20corte%20de%20cabello%20de%20mujer.",
  },
  {
    img: "/images/cejas-y-pestanas/laminado-de-cejas.avif",
    name: "Corte de Cabello Hombre",
    duration: "60 min",
    price: "$15.900",
    info: "./corte-de-cabello-hombre",
    booking:
      "https://api.whatsapp.com/send?phone=56931268104&text=%F0%9F%91%8B%F0%9F%8F%BB%20%C2%A1Hola!%20Quisiera%20agendar%20una%20hora%20para%20el%20corte%20de%20cabello%20para%20hombres.",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Peluquería" />

      <Services>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </Services>

      <Booking />
    </section>
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 768px) {
    .service__list {
      max-width: 60rem;
      margin: 0 auto;
    }
  }
</style>
