---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Tratamientos corporales - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Reductivo",
    duration: "60 min",
    price: "$34.900",
    info: "./masaje-reductivo",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Masaje Reafirmante",
    duration: "60 min",
    price: "$38.900",
    info: "./masaje-reafirmante",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Tratamientos corporales" />

      <ServiceCategories column>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </ServiceCategories>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
