---
import Layout from "@layouts/Layout.astro";
import Booking from "@sections/Booking.astro";
import ServiceCard from "@components/ServiceCard.astro";
import ServiceCategories from "@components/ServiceCategories.astro";
import Header from "@components/Header.astro";

const options = {
  title: "Manos y Pies - Deluxe Beauty",
  description: "Una descripción que tengo que editar",
};

const services = [
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Tradicional",
    duration: "30 min",
    price: "$14.900",
    info: "./manicure-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente",
    duration: "60 min",
    price: "$20.900",
    info: "./manicure-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente Pro (con diseños)",
    duration: "90 min",
    price: "$26.900",
    info: "./manicure-permanente-pro-con-disenos",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Pedicure Tradicional",
    duration: "30 min",
    price: "$16.900",
    info: "./pedicure-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Pedicure Permanente",
    duration: "60 min",
    price: "$22.900",
    info: "./pedicure-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Pedicure Hombre",
    duration: "30 min",
    price: "$15.900",
    info: "./pedicure-hombre",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Retiro de Esmalte Permanente",
    duration: "20 min",
    price: "$3.000",
    info: "./retiro-de-esmalte-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Kapping Baño de Gel o Acrílico Permanente",
    duration: "90 min",
    price: "$30.900",
    info: "./kapping-bano-de-gel-o-acrilico-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Kapping Baño de Gel o Acrílico Tradicional",
    duration: "60 min",
    price: "$24.900",
    info: "./kapping-bano-de-gel-o-acrilico-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Masculina",
    duration: "30 min",
    price: "$12.900",
    info: "./manicure-masculina",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Tradicional para Niñas",
    duration: "20 min",
    price: "$10.900",
    info: "./manicure-tradicional-para-ninas",
    booking: "#",
  },
];

const servicesPack = [
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Rusa + Esmaltado Permanente",
    duration: "90 min",
    price: "$32.900",
    info: "./manicure-rusa-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Rusa + Esmaltado Tradicional",
    duration: "60 min",
    price: "$28.900",
    info: "./manicure-rusa-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Tratamiento IBX + Manicure Tradicional",
    duration: "50 min",
    price: "$20.900",
    info: "./tratamiento-ibx-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Tratamiento IBX + Manicure Permanente",
    duration: "80 min",
    price: "$25.900",
    info: "./tratamiento-ibx-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente + Manicure Tradicional Niña",
    duration: "80 min",
    price: "$28.900",
    info: "./manicure-permanente-para-mama-y-manicure-tradicional-para-ninas",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Tradicional + Pedicure Tradicional",
    duration: "60 min",
    price: "$26.900",
    info: "./manicure-tradicional-y-pedicure-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente + Manicure Tradicional",
    duration: "90 min",
    price: "$32.900",
    info: "./manicure-permanente-y-manicure-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente + Pedicure Permanente",
    duration: "120 min",
    price: "$36.900",
    info: "./manicure-permanente-y-pedicure-permanente",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Permanente + Pedicure Tradicional",
    duration: "90 min",
    price: "$32.900",
    info: "./manicure-permanente-y-pedicure-tradicional",
    booking: "#",
  },
  {
    img: "https://placehold.co/600x400",
    name: "Manicure Tradicional + Pedicure Permanente",
    duration: "90 min",
    price: "$32.900",
    info: "./manicure-tradicional-y-pedicure-permanente",
    booking: "#",
  },
];
---

<Layout options={options}>
  <main>
    <section class="service__list">
      <Header title="Manos y pies" />

      <ServiceCategories column>
        {
          services.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </ServiceCategories>
    </section>

    <section class="service__list">
      <Header title="Packs para manos y pies" />

      <ServiceCategories column>
        {
          servicesPack.map(({ img, name, duration, price, info, booking }) => (
            <ServiceCard
              img={img}
              name={name}
              duration={duration}
              price={price}
              info={info}
              booking={booking}
            />
          ))
        }
      </ServiceCategories>
    </section>

    <Booking />
  </main>
</Layout>

<style>
  .service__list {
    display: flex;
    flex-direction: column;
  }
</style>
